* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.squares {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 15px 5px;
}

div.cell {
  display: inline-block;
  width: 10vmin;
  height: 10vmin;
  background-color: antiquewhite;
  border-radius: 2px;
}

.row:hover .cell:nth-child(1),
.row:hover .cell:nth-child(2),
.row:hover .cell:nth-child(3),
.row:hover .cell:nth-child(4) {
  background-color: orange;
}
